<?xml version="1.0"?>
<tables>
    <!-- miRge3.0 organism annotation libraries -->
    <table name="mirge3_libraries" comment_char="#">
        <columns>value, dbkey, organism, path</columns>
        <file path="tool-data/mirge3_libraries.loc" />
    </table>
</tables>
